

@{ ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- =========================== Thumbnail Gallery ========================================== -->
<section id="thumbgallery" class="bg-dark">
    <div class="text-center">
        <h2 class='text-white font-weight-bold'>let's get started with weight loss</h2>
        <h2 class="font-weight-bold">Better design and tips</h2>
        <p class="font-weight-bold">Better experiences.</p>
        <a asp-area="" asp-controller="MyMessages" asp-action="New" class="btn btn-lg btn-rounded btn-primary">Send Message</a><br>
    </div>
    <div class="container">
        <div class="main-img">
            <img src="~/images/img/img1.jpeg" id="current" />
        </div>
        <div class="imgs">
            <img src="~/images/img/img1.jpeg" />
            <img src="~/images/img/img2.jpeg" />
            <img src="~/images/img/img3.jpeg" />
            <img src="~/images/img/img4.jpeg" />
            <img src="~/images/img/img5.jpeg" />
            <img src="~/images/img/img6.jpeg" />
            <img src="~/images/img/img7.jpeg" />
            <img src="~/images/img/img8.jpeg" />
        </div>
    </div>
</section>


<section id="card-area">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Template <small>Core Features</small></h2>
                    <hr />
                </div>
            </div>
        </div>
        <div id="card" class="row"></div>
    </div>
</section>
<!--  ======================== Testimonials About Me Area ==============================  -->
<section class="testimonials bg-info">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="about-title">
                    <h1>Client Say about me</h1>
                    <p class="para text-center">
                        Subscribe easy tutorials channel to wacth more videos
                    </p>
                </div>
            </div>
        </div>
        <div id="owl-demo">
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle user" src="~/images/testimonials/t1.jpg" alt="img1">
                        </div>
                        <div class="card-body">
                            <p class="testimonial">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem architecto
                                consequuntur ratione, obcaecati corrupti deserunt.
                            </p>
                            <h4 class="text-uppercase">Kevin Martin</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle user" src="~/images/testimonials/t2.jpg" alt="img1">
                        </div>
                        <div class="card-body">
                            <p class="testimonial">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem architecto
                                consequuntur ratione, obcaecati corrupti deserunt.
                            </p>
                            <h4 class="text-uppercase">Kevin Martin</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle user" src="~/images/testimonials/t1.jpg" alt="img1">
                        </div>
                        <div class="card-body">
                            <p class="testimonial">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem architecto
                                consequuntur ratione, obcaecati corrupti deserunt.
                            </p>
                            <h4 class="text-uppercase">Kevin Martin</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle" src="~/images/testimonials/t2.jpg" alt="img1">
                        </div>
                        <div class="card-body">
                            <p class="testimonial">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem architecto
                                consequuntur ratione, obcaecati corrupti deserunt.
                            </p>
                            <h4 class="text-uppercase">Kevin Martin</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle" src="~/images/testimonials/t1.jpg" alt="img1">
                        </div>
                        <div class="card-body">
                            <p class="testimonial">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem architecto
                                consequuntur ratione, obcaecati corrupti deserunt.
                            </p>
                            <h4 class="text-uppercase">Kevin Martin</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle" src="~/images/testimonials/t2.jpg" alt="img1">
                        </div>
                        <div class="card-body">
                            <p class="testimonial">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem architecto
                                consequuntur ratione, obcaecati corrupti deserunt.
                            </p>
                            <h4 class="text-uppercase">Kevin Martin</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  ======================== End About Me Area ==============================  -->
<!--  ========================== Subscribe me Area ============================  -->
<div class="bg-faded pt90 pb90">
    <div class="container">
        <div class="title-heading1 mb50">
            <h3>Subscribe to our newsletter</h3>
        </div>
        <div class="row">
            <div class="col-lg-6 mr-auto ml-auto">
                <form id="widget-subscribe-form" action="index.html" role="form" method="post" class="mb0">
                    <div class="input-group input-group-lg">

                        <input type="email" name="widget-subscribe-form-email" class="form-control required" placeholder="Enter your Email">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--  ====================== End Services Area =============================  -->
<section id="contact" class="bg-lightblue mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="my-4">
                <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p>863-969-8248</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope fa-3x mb-3 sr-contact-2"></i>
                <p>
                    <a href="mailto:electronicsmf@aol.com">Electronicsmf@aol.com</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!--  ========================== End Subscribe me Area ============================  -->
<section class="hours parallax--bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Hours</h2>
                <hr>
                <p>Monday-Friday: 7:30 am - 6:00 pm<p>
                    <hr>
                <p>Saturday: 7:30 am - noon</p>
                <hr>
            </div>
        </div>
    </div>
</section>
<!-- footer-area -->
@section Scripts {
    <script src="~/lib/js/owl.js"></script>
    <script src="~/lib/js/repairs.js"></script>
    <script src="~/lib/js/gallery.js"></script>
}